dmake.yml
.dmake/
DMakefile

*.egg-info
junit-py
coverage-py
cover-py
dist*
build*
venv*

**/*.pyc
**/__pycache__/
**/*~
**/.#*

.git
Jenkinsfile
deploy/deepomatic-cli/Dockerfile
**/.gitignore
.dockerignore
.sonarcloud.properties
CONTRIBUTING.md
